#nav {
  padding-top: 5px !important;
}

#nav ul {
  padding: 0px;
}

#nav ul > li {
  float: left;
  list-style: none
}

#nav ul > li > a {
  color: #20c;
  font-weight: bold;
  display: block;
  padding: 8px;
  background: #E3E9FF;
  border-radius: inherit;
  text-shadow: 0 0 grey;
  font-size: 1.1em;
}

#nav ul > li > a.active {
  #background: #2952A3;
  cursor: text;
  color: black;
}

#nav ul > li > a:hover {
  background: #809bff;
  text-decoration:none;
}

#nav ul li:first-child {
  border-radius: 10px 0px 0px 10px;
}

#nav ul li:last-child {
  border-radius: 0px 10px 10px 0px;
}

#nav ul > li > a:visited {
}
